<div class="container text-center">
    <div class="col-12 mt-3">
        <h1 class="display-3">Thank You {{{fullname}}}!</h1>
        <p>Your Message Has Been Sent And Our Team Will Contact You As Soon As Possible!</p>
    </div>
</div>