<div class="container text-center">
    <div class="col-12 mt-3">
        <h1 class="display-3">About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, exercitationem!</p>
    </div>
</div>